<?xml version="1.0"?>
<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find thymio_description)/..:$(find thymioid_description)/..:$(find ros-streetwalk):$(optenv GAZEBO_MODEL_PATH)" />
  <env name="SVGA_VGPU10" value="0"/>
  <arg name="gui" default="true"/>
  <arg name="name" default=""/>
  <arg name="world" default="empty"/>

  <include file="$(find ros-streetwalk)/launch/custom_world.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(eval not arg('gui'))"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="world" value="$(arg world)"/>
  </include>
  
</launch>
